Package: com.nghianv.swifttool
Name: swifttool
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: nghianv
Author: nghianv
Section: System
Tag: role::hacker
Depends: ${LIBSWIFT}
